.main-content {
  padding: 3em 0 3em 3em;
  width: 58%;
  float: right;
}

@media (min-width: 1150px) {
  .main-content {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .main-content {
    padding-top: 1em;
    width: 100vh;
  }
}